{% load static %}

{% block css %}<link rel="stylesheet" href="{% static "styles/card.css" %}">{% endblock css %}


<div class="col-sm-6 col-lg-4 col-md-6 col-12 my-2">
    {% if post.status == 'Published' %}
    <div class="card">
        {% if post.image1 %}
        <a href="{% url "blog:post" post.slug %}">
            <img src="{{ post.image1.url }}" class="card-img-top" alt="{{ post.title }}">
        </a>
        {% elif post.image2 %}
        <a href="{% url "blog:post" post.slug %}">
            <img src="{{ post.image2.url }}" class="card-img-top" alt="{{ post.title }}">
        </a>
        {% elif post.image3 %}
        <a href="{% url "blog:post" post.slug %}">
            <img src="{{ post.image3.url }}" class="card-img-top" alt="{{ post.title }}">
        </a>
        {% else %}
            <img src="{% static "images/no_image.jpg" %}" class="card-img-top">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p><small>{{ post.date|date:'F, j - Y' }}</small></p>
            <p class="card-text">{{ post.description|truncatechars:40 }}</p>
            <div class="like-comment">
                <i class="fa-regular fa-heart"></i>
                <p class="me-4"> {{ post.likes_count }}</p>
                <i class="fa-regular fa-comment"></i>
                <p>{{ post.comment_set.count }}</p>
            </div>
            <p class="fst-italic">posted by {{ post.author }}</p>
            <a href="{% url "blog:post" post.slug %}" class="btn btn-primary">view post</a>
        </div>
    </div>
    {% else %}
    <div class="card">
        <img src="{% static "images/no_image.jpg" %}" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">Post {{ post.id }} by {{ post.author }}</h5>
            <p class="card-text">this post is on moderation now. It will appear here very soon)</p>
            <a href="{% url "blog:post" post.slug %}" class="btn btn-primary">view post</a>
        </div>
    </div>
    {% endif %}
</div>
