{% extends "base.html" %}
{% load static %}


{% block content %}
    <div class="col-lg-6 col-12 mx-auto">
        <h4>{{ page_title}}</h4>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
            <div class="my-4">
            <div class="fw-bold" style="color:red;">{{ field.errors }}</div>
            {{ field.label_tag }} {{ field }}
            </div>
            {% endfor %}
            <button type="submit" {% if page_title == 'Post editing' %}value="Update"{% endif %} class="btn btn-primary">{{ btn_name }}</button>
        </form>
    </div>
{% endblock content %}


