{% extends "base.html" %}
{% load static %}

{% block css %}<link rel="stylesheet" href="{% static "styles/detail.css" %}">{% endblock css %}

{% block content %}
    <div class="col-12">
        {% if post.status == 'Published' %}
        <h4 class="text-center">{{ post.title }}</h4>
        
        {% comment %} container for pictures {% endcomment %}
        <div class="container mb-2">
            <div class="row">
                {% if post.image1 %}
                <div class="col-md-4 col-sm-6 col-12 picture">
                    <img src="{{ post.image1.url }}" class="w-100 h-100" alt="{{ post.title }}" onclick="FullScreen(this.src);">
                </div>
                {% endif %}
                {% if post.image2 %}
                <div class="col-md-4 col-sm-6 col-12 picture px-md-0">
                    <img src="{{ post.image2.url }}" class="w-100 h-100" alt="{{ post.title }}" onclick="FullScreen(this.src);">
                </div>
                {% endif %}
                {% if post.image3 %}
                <div class="col-md-4 col-sm-12 col-12 picture">
                    <img src="{{ post.image3.url }}" class="w-100 h-100" alt="{{ post.title }}" onclick="FullScreen(this.src);">
                </div>
                {% endif %}
            </div>
        </div>
        
        {% comment %} full screen picture block, works with js {% endcomment %}
        <div id="FullScreenBlock">
            <img id="FullImg">
            <span id="CloseBtn" onclick="CloseFullScreen()">&times;</span>
        </div>


        {% if post.video_file %}
            <div class="container">
                <video controls>
                    <source src="{{ post.video_file.url}}" type="video/mp4">
                    <source src="{{ post.video_file.url}}" type="video/webm">
                    <source src="{{ post.video_file.url}}" type="video/avi">
                    Your browser does not support the video tag.
                </video>
            </div>
        {% endif %}

        {% comment %}all post info block {% endcomment %}
        <div class="container pt-3 mb-2">
            <div class="card-body">
                <div class="d-flex justify-content-between"> 
                    <p>{{ post.date|date:'F, j' }}</p>
                     <div class="d-flex align-items-center">                   
                    
                        {% comment %} like-dislike form {% endcomment %}
                        <form action="{% url 'blog:post' post.slug %}" method="post" style="width: 36px;">
                            {% csrf_token %}
                            <button type="submit" class="btn" name="submit-like">
                                {% if liked %}
                                <i class="fa-solid fa-heart fa-lg" style="color: red;"></i>
                                {% else %}
                                <i class="fa-regular fa-heart fa-lg"></i>
                                {% endif %}
                            </button>                   
                        </form>
                        <p class="me-4"> {{ post.likes.count }}</p>
                        
                        <i class="fa-regular fa-comment"></i>
                        <p>{{ comments|length }}</p>
                    </div>
                </div>
                <p class="fs-5 mb-2">{{ post.description }}</p>
                <p class="fst-italic">posted by {{ post.author }}</p>

                {% comment %} comment form {% endcomment %}
                <form action="{% url 'blog:post' post.slug %}" method="post">
                    <div class="d-flex flex-row mt-4">
                        {% csrf_token %}
                        {{ comment_form.text }}
                        {{ comment_form.text.errors}}
                        <button class="btn btn-primary ms-2" type="submit" name="submit-comment">Comment</button>
                    </div>
                </form>

                {% comment %} all comments for this post block {% endcomment %}
                <div class="mt-4">
                    <p class="fs-5 mt-2">Comments:</p>
                    {% for comment in comments  %}
                    <div class="my-3">
                        <div class="d-flex align-items-center">
                            <span class=" fw-semibold me-3">{{ comment.user.username }}</span>
                            <span class="fst-italic me-3">{{ comment.show_date }}</span>
                            {% if user.username == comment.user.username %}
                                 <a href="{% url "blog:delete_comment" comment.id %}"><i class="fa-solid fa-xmark" style="color: #E01305;"></i></a>
                            {% endif %}
                        </div>
                        <p class="card-text mb-0">{{ comment.text }}
                        </p>
                    </div>
                    {% endfor %}
                </div>

                {% if user.id == post.author.id %}
                <div class="d-flex justify-content-end">
                    <a href="{% url "blog:editpost" post.pk %}" class="btn btn-primary flex-end me-3">edit post</a>
                    <a href="{% url "blog:deletepost" post.pk %}" class="btn btn-danger flex-end">delete post</a>
                </div>
                {% endif %}
            </div>
        </div>

        {% comment %} block for not published yet post {% endcomment %}
        {% else %}
        <h4 class="mb-3">post {{ post.id }} is on moderation now. It will appear here very soon)</h4>
            {% if user.id == post.author.id %}
                <a href="{% url "blog:editpost" post.pk %}" class="btn btn-primary me-3">edit post</a>
                <a href="{% url "blog:deletepost" post.pk %}" class="btn btn-danger">delete post</a>
            {% endif %}
        {% endif %}
    </div>
{% endblock content %}

{% comment %} js for full screen picture show {% endcomment %}
{% block js %}
    <script src="{% static "js/full_screen.js" %}"></script>
{% endblock js %}



