{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="regform">
    {% if validlink %}
    
        <form method="post">{% csrf_token %}
        <input type="hidden" class="hidden" autocomplete="username" value="{{ form.user.get_username }}">
        <h4>Please enter your new password twice so we can verify you typed it in correctly.</h4>     
        {% for field in form %}
            <div class="my-4">
            <span class="red-string">{{ field.errors }}</span>
            {{ field.label_tag }} {{ field }}
            </div>
        {% endfor %}
        <div class="fw-bold red-string">{{ form.non_field_errors }}</div>
        <button type="submit" class="btn btn-primary">Change password</button>
        </form>

    {% else %}
    <p class="p-4 red-string">The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
    {% endif %}
</div>

{% endblock %}