{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "styles/main.css" %}">
    {% block css %}{% endblock css %}
    <title>{{ title }}</title>
</head>


<body>
    <header>
        <nav class="navbar navbar-expand-lg fixed-top">
            <div class="container-fluid">
                <a href="{% url "blog:index" %}" class="navbar-brand mb-0 h1">Nature<br> Blog</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#navbarOffcanvasLg" aria-controls="navbarOffcanvasLg"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-start" tabindex="-1" id="navbarOffcanvasLg"
                    aria-labelledby="navbarOffcanvasLgLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="#navbarOffcanvasLgLabel">Menu</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link fs-5 {% if request.resolver_match.view_name == "blog:index" %}active{% endif %}" aria-current="page"
                                 href="{% url "blog:index" %}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link fs-5 {% if request.resolver_match.view_name == "blog:allposts" %}active{% endif %}"
                                 href="{% url "blog:allposts" %}">Posts</a>
                            </li>
                            {% if user.is_admin or user.is_superuser%}
                            <li class="nav-item">
                                <a class="nav-link fs-5" href="{% url "admin:index" %}">Admin</a>
                            </li>
                            {% endif %}
                        </ul>
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            {% if  user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link fs-5 {% if request.resolver_match.view_name == "user:profile" %}active{% endif %}" 
                                href="{% url "user:profile" %}"><i class="fa-solid fa-user fa-sm me-1"></i>{{user.username}}</a>
                            </li>
                            <li class="nav-item">
                                <form action="{% url 'user:logout' %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="nav-link fs-5">Logout</button>
                                </form>
                            </li>
                            {% else %}
                            <li class="nav-item">
                                <a class="nav-link fs-5" href="{% url "user:login" %}">Login</a>
                            </li>
                            {% endif %}
                        </ul>
                        <form action="{% url "blog:search" %}" class="d-flex" role="search" method="get">
                            <input class="form-control me-2" type="search" name ='q' placeholder="Search" aria-label="Search" required/>
                            <button class="btn btn-outline-primary" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    {% include "notifications.html" %}
    
    <main>
        <div class='wrapper'>
            <div class="container-fluid">
                <div class="row">
                    
                    {% block content %}
                    {% endblock content %}

                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="footer">
            <p>© Alex 2025</p>
            <p>All rights reserved</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous">
        </script>
    <script src="https://kit.fontawesome.com/cca3bdfdf5.js" crossorigin="anonymous"></script>

    {% comment %} js script to hide the messages in 3sec {% endcomment %}
    <script>
        function hideMessage() {
            const msg = document.getElementById('disappear');
            if (msg) {
                msg.style.display = 'none';
            }
        }
        setTimeout(hideMessage, 3000);
    </script>
    
    {% block js %}{% endblock js %}
</body>