{% extends "base.html" %}
{% load static %}




{% block content %}
        <div class="col-lg-6 col-12 mx-auto">
        <h4>Post editing</h4>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
            <div class="my-4">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
            </div>
            {% endfor %}
            <button type="submit" value="Update" class="btn btn-primary">Edit post</button>
        </form>
    </div>
{% endblock content %}