{% extends "base.html" %}
{% load static %}


{% block content %}
    <div class="col-xxl-6 col-xl-8 col-12 mx-auto mt-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title py-2">{{ user.username }}</h5>
                <div class="list-group">
                    <form action="{% url "blog:userposts" %}" method="get" class="d-flex">
                        <input class="form-control" name="user_posts" type="hidden" value="1">
                        <button class="list-group-item list-group-item-action" type="submit">My posts</button>
                    </form>
                    <form action="{% url "blog:userlikes" %}" method="get" class="d-flex">
                        <input class="form-control" name="user_likes" type="hidden" value="1">
                        <button class="list-group-item list-group-item-action" type="submit">Favourite posts</button>
                    </form>
                    <a href="#" class="list-group-item list-group-item-action disabled">My comments</a>
                </div>
                <div class="card-footer mt-3">
                    <p>Info:</p>
                    <form method="post" action="{% url "blog:profile" %}">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="my-4">
                        {{ field.errors }}
                        {{ field.label_tag }} {{ field }}
                        </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary mt-3">Save changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}


