{% extends "base.html" %}
{% load static %}


{% block content %}
    <div class="container regform">
        <h3>Registration</h3>
        <form method="post" action="{% url "blog:register" %}">
            {% csrf_token %}
            {% for field in form %}
            <div class="my-4">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
            </div>           
            {% endfor %}
            <ul>
                <li>The password must consist of at least 8 characters.</li>
                <li>THe password can't be entirely numeric</li>
                <li>The password can't be too common or similar to Username</li>
            </ul>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
{% endblock content %}


