body {
    margin:0;
    padding: 0;
    height: 100vh;
}

header {
    height: 56px;
}

main {
    min-height: 100%;
}

.wrapper {
    margin-inline: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
    min-height: 100%;
    width: 70vw;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

footer {
    border-top: 1px solid rgb(179, 179, 179);
    background-color: rgb(241, 241, 241);
    margin-top: auto;
 }

 .navbar {
    background-color: rgb(243, 243, 243);
 }

.navbar-brand {
    font-size: small;
    color: green;
}

.carousel-item.latest {
    height: 50vh;
}

.carousel-item.detail {
    height: 700px;
}

.carousel-item img {
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.card {
    height: 100%;
}

.card>a>img, .card>img {
    height: 35vh;
    object-fit: cover;
    object-position: center;
}

.like-comment {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.footer {
    margin-inline: 30%;
    padding-block: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: larger;
}

/* class only for login.html and register.html */
.regform {
    background-color: #f8f9fa;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-width: 800px;

}


@media(max-width: 1200px) {
    .wrapper {
        width: 80vw;
    }
}

@media(max-width: 992px) {
    .wrapper {
        width: 90vw;
    }

    .carousel-item.detail {
        height: 500px;
    }

    .regform {
        max-width: 600px;
    }

    .footer {
        margin-inline: 10%;
        flex-direction: column;
    }
}

@media(max-width: 576px) {
    .carousel-item.detail {
        height: 400px;
    }

    .card>a>img, .card>img {
        height: 45vh;
    }

    .regform {
        width: 85vw;
    }
}