body {
    margin:0;
    padding: 0;
    height: 100vh;
}

header {
    height: 56px;
}

main {
    min-height: 100%;
}

.wrapper {
    margin-inline: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
    min-height: 100%;
    width: 70vw;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

footer {
    border-top: 1px solid rgb(179, 179, 179);
    background-color: rgb(241, 241, 241);
    margin-top: auto;
 }

.footer {
    margin-inline: 30%;
    padding-block: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: larger;
}

 .navbar {
    background-color: rgb(243, 243, 243);
 }

.navbar-brand {
    font-size: small;
    color: green;
}

img {
    object-fit: cover;
    object-position: center;
}



/* class only for user login/register/change_password pages */
.regform {
    display: inline-block;
    margin-inline: auto;
    background-color: #f8f9fa;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 96%;
}

/* class for form errors */
.red-string {
    color: red;
}


@media(max-width: 1200px) {
    .wrapper {
        width: 80vw;
    }
}

@media(max-width: 992px) {
    .wrapper {
        width: 90vw;
    }

    .regform {
        margin-top: 1rem;
        box-shadow: none;
    }

    .footer {
        margin-inline: 10%;
        flex-direction: column;
    }
}

@media(max-width: 576px) {
    .regform {
        margin-top: .5rem;
    }
}

